---
import ModalButton from "./ModalButton";
import BannerCarousel from "./BannerCarousel";
import Footer from "./Footer.astro";
import bigSharks from "@assets/banners/big-swimming-sharks.jpg";
import bigNS from "@assets/banners/big-using-ns.jpg";
import overlayChan from "@assets/people/overlay-chan.jpg";
import dalyn from "@assets/people/portrait-dalyn.jpg";
import satoko from "@assets/people/portrait-satoko.jpg";
import ty from "@assets/people/portrait-ty.jpg";
import einstein from "@assets/badges/badge-einstein.png";
import home from "@assets/badges/badge-home.png";
import commander from "@assets/badges/badge-commander.png";
import worldTraveler from "@assets/badges/badge-world-traveler.png";
import monsterHunter from "@assets/badges/badge-monster-hunter.png";
import japanese from "@assets/badges/badge-japanese.png";
import chameleon from "@assets/badges/badge-chameleon.png";
import sumo from "@assets/badges/badge-sumo-wrestler.png";
import detectiveBadge from "@assets/badges/badge-detective-badge.png";
import sentenceCleaner from "@assets/badges/badge-sentence-cleaner.png";
import confidentTraveler from "@assets/badges/badge-confident-traveler.png";
import survivalPhrases from "@assets/badges/badge-survival-phrases.png";
import curious from "@assets/emoji/emoji_chie_curious.png";
import happy from "@assets/emoji/emoji_chie_happy.png";
import cry from "@assets/emoji/emoji_chie_cry.png";
import bronze from "@assets/emoji/boarder_bronze.png";
import silver from "@assets/emoji/boarder_silver.png";
import kimono from "@assets/emoji/emoji_kimono.png";
import snowCone from "@assets/emoji/emoji_kakigoori.png";
import drink from "@assets/emoji/emoji_drink.png";
import pikachu from "@assets/emoji/emoji_pikachu.png";
import covereyes from "@assets/emoji/emoji_covereyes.png";
import sunglasses from "@assets/emoji/emoji_sunglasses.png";
import cracker from "@assets/emoji/emoji_cracker.png";
import boba from "@assets/emoji/emoji_boba.png";
import smile from "@assets/emoji/emoji_smile.png";
import instructor from "@assets/emoji/emoji_instructor.png";
import thistbh from "@assets/emoji/emoji_thistbh.png";
import valentine from "@assets/emoji/emoji_valentine.png";
import flex from "@assets/emoji/emoji_flex.png";
---

<main class="text-jade-50 w-screen flex flex-col items-center">
  <!-- Description -->
  <div class="w-screen max-w-5xl min-w-[265px]">
    <span class="flex flex-col p-4 py-24 items-center max-w-5xl">
      <h1 class="font-bold text-6xl pb-8 self-center">2D Art</h1>
      <ul class="list-disc list-inside text-xl max-w-lg self-center">
        <li>Conceptualize words, feelings, & abstract thoughts</li>
        <li>Story-driven images</li>
        <li>Light-hearted, rounded, and fun</li>
      </ul>
    </span>
  </div>
  <!-- Banners -->
  <div class="flex flex-col w-screen min-w-[265px] px-4 bg-neutral-800">
    <span class="flex flex-col p-4 py-24 self-center max-w-5xl">
      <h2 class="font-bold w-max self-center pb-8 text-6xl text-jade-50">
        Hero Images
      </h2>
      <p class="max-w-lg self-center">
        Banners, posters, and header images. These vibrant images set the mood.
        I make sure the world within the illustration reaches beyond its
        borders.
      </p>
    </span>
    <div class="flex flex-col gap-2 lg:mx-auto lg:w-2/3">
      <div class="w-full mb-8">
        <BannerCarousel client:load />
      </div>
    </div>
    <span class="flex md:flex-row gap-4 mb-16 mx-auto lg:w-2/3 self-center">
      <ModalButton
        className="max-w-32"
        src={bigSharks}
        alt={"Logistics of learning a language – focused on accountability and momentum moving forward"}
        client:load
      />
      <ModalButton
        className="max-w-32"
        src={bigNS}
        alt={"Sea kelp forest with sunken sailing equipment"}
        client:load
      />
    </span>
  </div>
  <!-- People and Characters -->
  <div class="w-screen max-w-5xl min-w-[265px]">
    <span class="flex flex-col p-4 py-24 items-center max-w-5xl">
      <h1 class="font-bold text-6xl">People &</h1>
      <h1 class="font-bold text-6xl pb-8">Characters</h1>
      <p class="max-w-lg self-center">
        Who wants profile pictures as real photos of themselves when you can
        have sweet, illustrated versions 👀
      </p>
    </span>
    <span
      class="flex flex-col p-4 md:p-20 items-center max-w-5xl bg-neutral-50"
    >
      <div class="grid grid-cols-2 gap-4 pb-3">
        <ModalButton
          className="max-w-32 col-span-1"
          src={overlayChan}
          alt={"Portrait illustation of sea-angel"}
          client:load
        />
        <ModalButton
          className="max-w-32 col-span-1"
          src={ty}
          alt={"Portrait illustation of Ty"}
          client:load
        />
      </div>
      <div class="flex flex-row gap-4">
        <ModalButton
          className="max-w-32 flex-1"
          src={dalyn}
          alt={"Portrait illustation of Dalyn"}
          client:load
        />
        <ModalButton
          className="max-w-32 flex-1"
          src={satoko}
          alt={"Portrait illustration of Satoko"}
          client:load
        />
      </div>
    </span>
  </div>
  <!-- BADGES -->
  <span class="pb-12 md:pb-20">
    <div class="flex flex-col p-4 py-24 items-center max-w-5xl">
      <h1 class="font-bold text-6xl text-jade-50 w-fit self-center pb-6">
        Badges
      </h1>
      <p class="w-fit max-w-lg self-center">
        Adding a bit of color to celebrate making progress on learning Japanese
        at NativShark.
      </p>
    </div>
    <div
      class="col-span-3 mx-4 md:col-span-2 md:mx-4 max-w-5xl flex flex-col gap-2"
    >
      <div class="flex flex-row gap-2">
        <ModalButton
          className=""
          src={einstein}
          alt={"Einstein badge"}
          client:load
        />
        <ModalButton className="" src={home} alt={"Home badge"} client:load />
        <ModalButton
          className=""
          src={commander}
          alt={"Commander badge"}
          client:load
        />
        <ModalButton
          className=""
          src={worldTraveler}
          alt={"World-traveler badge"}
          client:load
        />
      </div>
      <div class="flex flex-row gap-2">
        <ModalButton
          className=""
          src={monsterHunter}
          alt={"Monster-hunter badge"}
          client:load
        />
        <ModalButton
          className=""
          src={chameleon}
          alt={"Chameleon badge"}
          client:load
        />
        <ModalButton
          className=""
          src={sumo}
          alt={"Sumo-wrestler badge"}
          client:load
        />

        <ModalButton
          className=""
          src={detectiveBadge}
          alt={"detective badge"}
          client:load
        />
      </div>
      <div class="flex flex-row gap-2">
        <ModalButton
          className=""
          src={japanese}
          alt={"Japaese investigation badge"}
          client:load
        />
        <ModalButton
          className=""
          src={sentenceCleaner}
          alt={"Sentence-cleaner badge"}
          client:load
        />
        <ModalButton
          className=""
          src={confidentTraveler}
          alt={"Confident-traveler badge"}
          client:load
        />
        <ModalButton
          className=""
          src={survivalPhrases}
          alt={"Survival-phrases badge"}
          client:load
        />
      </div>
    </div>
  </span>
  <!-- EMOJI -->
  <span
    class="bg-neutral-800 flex flex-col justify-center items-center pb-12 lg:my-24 md:pb-20"
  >
    <div class="flex flex-col p-4 py-24 items-center max-w-5xl">
      <h1 class="font-bold text-6xl text-jade-50 w-fit pb-6">Emoji</h1>
      <p class="max-w-lg">
        There's never enough emojis to express all the emotions and occasions
        with.
      </p>
    </div>
    <div
      class="max-w-5xl flex flex-col items-center justify-center gap-2 w-fit"
    >
      <div
        class="gap-2 flex flex-wrap max-h-[560px] overflow-hidden justify-center items-center self-center mx-4"
      >
        <div class="flex flex-row gap-2">
          <ModalButton
            container={" w-32 h-32 flex justify-center items-center"
            modalImage={"w-96"}
            className={"max-w-32 max-h-32 object-contain "}
            src={curious}
            alt={"Curious Chie emoji"}
            client:load
          />
          <ModalButton
            container={" w-32 h-32 flex justify-center items-center"}
            modalImage={"w-96"}
            className={"max-w-32 max-h-32 object-contain "}
            src={happy}
            alt={"Happy Chie emoji"}
            client:load
          />
          <ModalButton
            container={" w-32 h-32 flex justify-center items-center"}
            modalImage={"w-96"}
            className={"max-w-32 max-h-32 object-contain "}
            src={cry}
            alt={"Crying Chie emoji"}
            client:load
          />
        </div>
        <div class="flex flex-row gap-2">
          <ModalButton
            container={" w-32 h-32 flex justify-center items-center"}
            modalImage={"w-96"}
            className={"max-w-32 max-h-32 object-contain "}
            src={bronze}
            alt={"Bronze profile picture border"}
            client:load
          />
          <ModalButton
            container={" w-32 h-32 flex justify-center items-center"}
            modalImage={"w-96"}
            className={"max-w-32 max-h-32 object-contain "}
            src={silver}
            alt={"Silver profile picture border"}
            client:load
          />
          <ModalButton
            container={" w-32 h-32 flex justify-center items-center"}
            modalImage={"w-96"}
            className={"max-w-32 max-h-32 object-contain "}
            src={kimono}
            alt={"Kimono emoji"}
            client:load
          />
        </div>
        <div class="flex flex-row gap-2">
          <ModalButton
            container={" w-32 h-32 flex justify-center items-center"}
            modalImage={"w-96"}
            className={"max-w-32 max-h-32 object-contain "}
            src={snowCone}
            alt={"Snow-cone emoji"}
            client:load
          />
          <ModalButton
            container={" w-32 h-32 flex justify-center items-center"}
            modalImage={"w-96"}
            className={"max-w-32 max-h-32 object-contain "}
            src={drink}
            alt={"Tropical drink emoji"}
            client:load
          />
          <ModalButton
            container={" w-32 h-32 flex justify-center items-center"}
            modalImage={"w-96"}
            className={"max-w-32 max-h-32 object-contain "}
            src={pikachu}
            alt={"Shark picachu emoji"}
            client:load
          />
        </div>
        <div class="flex flex-row gap-2">
          <ModalButton
            container={" w-32 h-32 flex justify-center items-center"}
            modalImage={"w-96"}
            className={"max-w-32 max-h-32 object-contain "}
            src={covereyes}
            alt={"Puffer fish see-no-evil emoji"}
            client:load
          />
          <ModalButton
            container={" w-32 h-32 flex justify-center items-center"}
            modalImage={"w-96"}
            className={"max-w-32 max-h-32 object-contain "}
            src={sunglasses}
            alt={"Cool sunglass shark emoji"}
            client:load
          />
          <ModalButton
            container={" w-32 h-32 flex justify-center items-center"}
            modalImage={"w-96"}
            className={"max-w-32 max-h-32 object-contain "}
            src={cracker}
            alt={"Party cracker emoji"}
            client:load
          />
        </div>
        <div class="flex flex-row gap-2">
          <ModalButton
            container={" w-32 h-32 flex justify-center items-center"}
            modalImage={"w-96"}
            className={"w-32 h-32 object-contain "}
            src={boba}
            alt={"Shark sharing boba tea emoji"}
            client:load
          />
          <ModalButton
            container={" w-32 h-32 flex justify-center items-center"}
            modalImage={"w-96"}
            className={"max-w-32 max-h-32 object-contain "}
            src={smile}
            alt={"Shark smile emoji"}
            client:load
          />
          <ModalButton
            container={" w-32 h-32 flex justify-center items-center"}
            modalImage={"w-96"}
            className={"max-w-32 max-h-32 object-contain "}
            src={instructor}
            alt={"Shark instructor emoji"}
            client:load
          />
        </div>

        <div class="flex flex-row gap-2">
          <ModalButton
            container={" w-32 h-32 flex justify-center items-center"}
            modalImage={"w-96"}
            className={"max-w-32 max-h-32 object-contain "}
            src={thistbh}
            alt={"Shark this tbh emoji"}
            client:load
          />
          <ModalButton
            container={" w-32 h-32 flex justify-center items-center"}
            modalImage={"w-96"}
            className={"max-w-32 max-h-32 object-contain "}
            src={valentine}
            alt={"Shark valentine emoji"}
            client:load
          />
          <ModalButton
            container={" w-32 h-32 flex justify-center items-center"}
            modalImage={"w-96"}
            className={"max-w-32 max-h-32 object-contain "}
            src={flex}
            alt={"Shark flexing emoji"}
            client:load
          />
        </div>
      </div>
    </div>
  </span>
  <Footer />
</main>
