---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "@astrojs/image/components";
import banner from "../images/chie-banner.jpg";
import mobileBanner from "../images/portrait-chie.jpg";
import taiyaki from "../images/emoji-taiyaki.png";
import HeaderLink from "../components/HeaderLink.astro";
---

<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
<body class="relative">
  <main class="h-screen flex justify-center md:justify-end">
    <div
      class="flex flex-col md:w-2/5 justify-center gap-12 text-6xl lg:text-8xl font-caveat text-jade-200"
    >
      <div class="flex gap-2 items-center">
        <Image
          class="w-16 h-16 opacity-90"
          src={taiyaki}
          alt="Illustrated stylized self-portrait"
        />
        <HeaderLink class="mr-4 hover:text-jade-50" href="/art">Art</HeaderLink>
      </div>
      <div class="flex gap-2 items-center">
        <Image
          class="w-16 h-16 opacity-90"
          src={taiyaki}
          alt="Illustrated stylized self-portrait"
        />
        <HeaderLink class="hover:text-jade-50 mr-4" href="/code">
          Code
        </HeaderLink>
      </div>
      <div class="flex gap-2 items-center">
        <Image
          class="w-16 h-16 opacity-90"
          src={taiyaki}
          alt="Illustrated stylized self-portrait"
        />
        <HeaderLink class="hover:text-jade-50 mr-4" href="/video">
          Video
        </HeaderLink>
      </div>
      <div class="flex gap-2 items-center">
        <Image
          class="w-16 h-16 opacity-90"
          src={taiyaki}
          alt="Illustrated stylized self-portrait"
        />
        <HeaderLink class="hover:text-jade-50" href="/about">About</HeaderLink>
      </div>
      <div class="h-12"></div>
    </div>

    <Footer />
  </main>
  <div class="fixed top-0 bottom-0 -z-20 w-full h-full overflow-hidden">
    <Image
      class="absolute -z-10 h-auto -top-16 min-w-full min-h-full object-cover hidden md:block"
      src={banner}
      alt="Illustrated stylized self-portrait"
    />
    <div
      class="md:hidden absolute top-0 right-0 left-0 bottom-0 bg-neutral-700 opacity-70"
    >
    </div>
    <Image
      class="absolute -z-10 h-auto min-w-full min-h-full object-cover object-right md:hidden mix-blend-luminosity blur-sm"
      src={mobileBanner}
      alt="Illustrated stylized self-portrait"
    />
  </div>
</body>
