---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "@astrojs/image/components";
import banner from "../images/chie-banner.jpg";
import mobileBanner from "../images/portrait-chie.jpg";
import taiyaki from "../images/emoji-taiyaki.png";
import HeaderLink from "../components/HeaderLink.astro";
---

<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
<body class="relative">
  <main
    class="h-screen flex justify-center md:justify-end border-white p-8 overflow-hidden"
  >
    <div
      class="flex flex-col md:w-2/5 justify-center font-frankrl font-extrabold"
    >
      <h1 class="text-white text-5xl lg:text-7xl">Chie</h1>
      <h1 class="text-white text-5xl lg:text-7xl">Andersen</h1>
      <div class="flex mt-10 gap-4 items-center">
        <Image class="w-14 h-14 opacity-90" src={taiyaki} alt="taiyaki icon" />
        <HeaderLink
          class="mr-4 text-white hover:text-jade-200 text-4xl lg:text-5xl"
          href="/2d"
        >
          2D
        </HeaderLink>
      </div>
      <div class="flex mt-4 gap-4 items-center">
        <Image class="w-14 h-14 opacity-90" src={taiyaki} alt="taiyaki icon" />
        <HeaderLink
          class="mr-4 text-white hover:text-jade-200 text-4xl lg:text-5xl"
          href="/3d"
        >
          3D
        </HeaderLink>
      </div>
      <div class="flex gap-4 mt-4 items-center">
        <Image class="w-14 h-14 opacity-90" src={taiyaki} alt="taiyaki icon" />
        <HeaderLink
          class="text-white hover:text-jade-200 mr-4 text-4xl lg:text-5xl"
          href="/code"
        >
          Code
        </HeaderLink>
      </div>

      <div class="flex gap-4 mt-4 items-center">
        <Image class="w-14 h-14 opacity-90" src={taiyaki} alt="taiyaki icon" />
        <HeaderLink
          class="text-white hover:text-jade-200 text-4xl lg:text-5xl"
          href="/about"
        >
          About
        </HeaderLink>
      </div>
      <div class="h-24"></div>
    </div>
  </main>
  <div class="fixed top-0 bottom-0 -z-20 w-full h-full overflow-hidden">
    <Image
      class="absolute -z-10 h-auto origin-bottom scale-110 min-w-full min-h-full object-cover hidden md:block"
      src={banner}
      alt="Illustrated stylized self-portrait"
    />
    <div
      class="md:hidden absolute top-0 right-0 left-0 bottom-0 bg-neutral-800 opacity-90"
    >
    </div>
    <Image
      class="absolute -z-10 h-auto min-w-full min-h-full object-cover object-right md:hidden mix-blend-luminosity blur-sm"
      src={mobileBanner}
      alt="Illustrated stylized self-portrait"
    />
  </div>
</body>
